/* Default body styling */
body {
    color: #FFFFFF;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Selection color */
::selection {
    color: #FFFFFF;
    background-color: #FFE4B4;
}

/* Popup window styling */
.App {
    transition: 650ms;
    background-image: linear-gradient(45deg, #2d836d 20%, #49c085 60%, #d0e59d);
}

/* Green gradient background */
.Fit {
    position: fixed;
    width: 100%;
    height: 100%;
}
.Panel {
    width: 100%;
    box-shadow: rgba(46, 43, 55, 0.5) 0px 4px 24px 4px;
    transition: 450ms;
}
.Gradient {
    background-image: linear-gradient(45deg, #2d836d 20%, #49c085 60%, #d0e59d);
}
.White {
    background-color: #FFFFFF;
}

/* Header */
.Header {
    width: 100%;
    height: 30px;
    color: #595959;
    background-color: #FFFFFF;
}

/* Body */
.Body {
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
}

/* Header texts */
h1 {
    font-size: 24px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    background-color: transparent;
    margin: 0px;
}
h2 {
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin: 5px;
    margin-bottom: 0px;
    opacity: 0.8;
}
h3 {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: 0px;
    opacity: 0.6;
}

/* Paragraphs */
p {
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Text area */
textarea {
    width: 260px;
    height: 44px;
    overflow: hidden;
    resize: none;
    text-transform: none !important;
}

/* Bold text */
b {
    font-weight: 700;
    color: #FFE4B4;
}

/* Error message */
.ErrorMessage {
    position: fixed;
    left: 25%;
    right: 25%;
    width: 50%;
    top: 10px;
    opacity: 0;
    background-color: #595959;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    z-index: 1;
}

/* Sync status */
.SyncStatus {
    position: fixed;
    top: 5px;
    Right: 5px;
    width: 50px;
    height: 20px;
    opacity: 0.8;
    transition: 500ms;
    z-index: 1;
    text-align: right;
}

/* Default button */
button, button:disabled {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 3.5px;
    background-clip: padding-box;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    margin: 5px;
    width: 260px;
    transition: 500ms;
}
button:hover, button:visited, button:active {
    color: #FFE4B4;
    border-color: #FFE4B4;
    transition: 500ms;
}
button:focus {
    outline: 0;
}

/* Default input */
input, input:disabled, textarea {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 3.5px;
    background-clip: padding-box;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    margin: 5px;
    width: 236px;
    transition: 500ms;
}
input:hover, input:active, textarea:active {
    color: #FFE4B4;
    border-color: #FFE4B4;
    transition: 500ms;
}
input:focus, textarea:focus {
    border-color: #FFE4B4;
    outline: 0;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

/* TurtleCoin logo */
.Logo {
    width: 100px;
    height: 100px;
    background-image: url(./assets/turtlecoin_logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

/* Options icon */
.OptionsIcon {
    position: fixed;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background-image: url(assets/options_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    transition: 500ms;
    z-index: 1;
}
.OptionsIcon:hover {
    opacity: 1;
    fill: #FFE4B4;
}

/* Back arrow */
.BackArrow {
    position: fixed;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-image: url(assets/back_arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 500ms;
    z-index: 1;
    opacity: 0.5;
    animation: FadeInPartial ease 2000ms;
    animation-iteration-count: 1;
}
.BackArrow:hover {
    opacity: 1;
    fill: #FFE4B4;
}

/* Loading icon */
.Loading {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #59595959;
    transition: 500ms;
    opacity: 0;
    z-index: -1;
}
.LoadingIcon {
    width: 40px;
    height: 40px;
    background-image: url(assets/loading.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Fade in animations */
.FadeIn {
    opacity: 0;
    animation: FadeIn ease 2000ms;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}
@keyframes FadeIn {
    0% {
        opacity: 0;
		transform: translate3d(0, -20%, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.FadeInPartial {
    opacity: 0;
    animation: FadeInPartial ease 2000ms;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}
@keyframes FadeInPartial {
    0% {
        opacity: 0;
		transform: translate3d(0, -20%, 0);
    }
    100% {
        opacity: 0.65;
        transform: translate3d(0, 0, 0);
    }
}

/* Hard-coded animation delays */
.Delay100 {
    animation-delay: 100ms;
}
.Delay150 {
    animation-delay: 150ms;
}
.Delay200 {
    animation-delay: 200ms;
}
.Delay250 {
    animation-delay: 250ms;
}
.Delay300 {
    animation-delay: 300ms;
}
.Delay350 {
    animation-delay: 350ms;
}
.Delay400 {
    animation-delay: 400ms;
}
.Delay450 {
    animation-delay: 450ms;
}
.Delay500 {
    animation-delay: 500ms;
}

/* CSSTransition */
.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}